body {
  background-color: black;
}

h1 {
  font-family: 'Monoton', cursive;
  color: hotpink;
  font-weight: 400;
  font-size: 128px;
  text-align: center;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff,
    0 0 80px pink, 0 0 90px pink, 0 0 100px pink, 0 0 150px pink;
}

h1 span {
  animation: blink linear infinite 2s;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

h2 {
  font-family: 'Quicksand', sans-serif;
  color: white;
  text-align: center;
  font-size: 32px;
  font-weight: 300;
}

.logo {
  font-family: 'Monoton', cursive;
  color: hotpink;
  font-weight: 400;
  margin: 0.3em 0.5em;
}

p {
  font-family: 'Quicksand', sans-serif;
  color: hotpink;
  font-size: 18px;
  font-weight: 300;
}

p span {
  font-weight: 600;
}

button {
  font-family: 'Quicksand', sans-serif;
  color: hotpink;
  letter-spacing: 4px;
  font-size: 24px;
  font-weight: 300;
  padding: 10px 20px;
  background-color: Transparent;
  border: 1px solid hotpink;
  outline: none;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  margin: 2em 0;
}

.column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
  margin: auto 1.5em;
}

.correct {
  color: white !important;
  background-color: green !important;
  border: 1px solid green;
  box-shadow: 0 0 2px lightgreen, 0 0 4px lightgreen, 0 0 8px lightgreen,
    0 0 16px lightgreen;
}

.incorrect {
  color: white !important;
  background-color: darkred !important;
  box-shadow: 0 0 2px red, 0 0 4px red, 0 0 8px red, 0 0 16px red;
}

.description {
  margin: 0 2em 4em 2em;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 26px;
  }
  p {
    font-size: 16px;
  }
  button {
    font-size: 20px;
  }
  .center {
    margin: 1em 0;
  }
}

@media all and (min-width: 1024px) {
  button:hover {
    color: white;
    background-color: hotpink;
  }
}
